@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';

@layer utility {

    .flex-center{
        @apply flex justify-center items-center;
    }

    .items{
        @apply animate-fade-in;
    }

    .items-img{
        @apply w-24 h-18 rounded-md border border-black/30 shadow-gray-500 shadow-md ;
    }

    .items-para{
        @apply font-semibold w-20 leading-5 mt-1;
    }

    /* pizza calculator section css */
    .lists{
        @apply border-b border-gray-500 mx-4 flex justify-between px-4 bg-gray-100 py-0.5 rounded-md;
    }

    .lists-data{
        @apply font-semibold flex items-center;
    }

    .lists-time{
        @apply text-sm text-gray-600;
    }

    .divOnList{
        @apply  w-90 h-12 mx-4 flex justify-between px-4 bg-transparent py-0.5 rounded-md gap-200 relative bottom-12 -mb-7;
    }

    /* pages -> pizza Info  */
    .upperSection{
        @apply flex flex-col border-gray-200 border rounded-2xl px-4 py-2 w-45;
    }

    .upperSectionIng{
        @apply text-sm text-gray-700;
    }
    .upperSectionAmt{
        @apply text-2xl font-semibold;
    }

    .lowerSection{
        @apply flex justify-between items-center flex-row  border-b-2 border-b-gray-100 py-2 px-2;
    }
    .lowerSectionIng{
        @apply text-gray-500
    }
}

/* animations */
@theme {
    --font-noto-sans: "Noto Sans", sans-serif;

    --animate-fade-in: fade-in 1s ease-out;

    @keyframes fade-in{
        0% {
            opacity: 0;
            transform: scale(0.95);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}


